In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

In [2]:
csv_file = "Libararies_Chicago.csv"
library_df = pd.read_csv(csv_file)
library_df.head()

,Name,HOURS OF OPERATION,ADDRESS,CITY,STATE,Zip,PHONE,WEBSITE,LOCATION
0,Jefferson Park,NaN,5363 W. Lawrence Ave.,Chicago,IL,60630,Closed for Construction,https://www.chipublib.org/locations/38/,"(41.96759739182978, -87.76155426232721)"
1,Merlo,NaN,644 W. Belmont Ave.,Chicago,IL,60657,Closed for Construction,https://www.chipublib.org/locations/51/,"(41.940084208613214, -87.64614322696454)"
2,Douglass,NaN,3353 W. 13th St.,Chicago,IL,60623,Closed for Construction,https://www.chipublib.org/locations/25/,"(41.864500759742604, -87.70968548933996)"
3,Albany Park,"Sun., Closed; Mon. & Wed., 10-6; Tue. & Thu., ...",3401 W. Foster Ave.,Chicago,IL,60625,(773) 539-5450,https://www.chipublib.org/locations/3/,"(41.975456, -87.71409)"
4,Altgeld,"Sun., Closed; Mon. & Wed., Noon-8; Tue. & Thu....",13281 S. Corliss Ave.,Chicago,IL,60827,(312) 747-3270,https://www.chipublib.org/locations/4/,"(41.65473021837776, -87.6022302609835)"

In [3]:
#library_df.reset_index(inplace = True)
#library_df.columns = library_df.iloc[0]
#library_df.drop(library_df.index[0],inplace=True)
#library_df.head()

In [4]:
library_df.Name=library_df.Name.astype("string")

In [5]:
library_df.dtypes

Name                  string
HOURS OF OPERATION    object
ADDRESS               object
CITY                  object
STATE                 object
Zip                    int64
PHONE                 object
WEBSITE               object
LOCATION              object
dtype: object

In [6]:
library_df.columns

Index(['Name', 'HOURS OF OPERATION', 'ADDRESS', 'CITY', 'STATE', 'Zip',
       'PHONE', 'WEBSITE', 'LOCATION'],
      dtype='object')

In [7]:
csv_file = "Public_Schools_Chicago.csv"
school_df = pd.read_csv(csv_file)
school_df.head()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012_
School ID Name of School                      Elementary, Middle, or High School Street Address        City    State ZIP Code Phone Number   Link                                               Network Manager                          Collaborative Name                 Adequate Yearly Progress Made?  Track Schedule CPS Performance Policy Status CPS Performance Policy Level Healthy Schools Certified? Safety Icon  Safety Score Family Involvement Icon Family Involvement Score Environment Icon  Environment Score Instruction Icon  Instruction Score Leaders Icon  Leaders Score  Teachers Icon  Teachers Score Parent Engagement Icon  Parent Engagement Score Parent Environment Icon Parent Environment Score Average Student Attendance Rate of Misconducts (per 100 students) Average Teacher Attendance Individualized Education Program Compliance Rate  Pk-2 Literacy % Pk-2 Math % Gr3-5 Grade Level Math % Gr3-5 Grade Level Read % Gr3-5 Keep Pace Read % Gr3-5 Keep Pace Math % Gr6-8 Grade Level Math % Gr6-8 Grade Level Read % Gr6-8 Keep Pace Math% Gr6-8 Keep Pace Read % Gr-8 Explore Math % Gr-8 Explore Read % ISAT Exceeding Math % ISAT Exceeding Reading %  ISAT Value Add Math ISAT Value Add Read ISAT Value Add Color Math ISAT Value Add Color Read Students Taking  Algebra % Students Passing  Algebra % 9th Grade EXPLORE (2009) 9th Grade EXPLORE (2010) 10th Grade PLAN (2009) 10th Grade PLAN (2010) Net Change EXPLORE and PLAN 11th Grade Average ACT (2011) Net Change PLAN and ACT College Eligibility % Graduation Rate % College Enrollment Rate % College Enrollment (number of students)  General Services Route  Freshman on Track Rate % RCDTS Code      X_COORDINATE Y_COORDINATE Latitude    Longitude    Community Area Number Community Area Name Ward Police District                                           Location
609966    Charles G Hammond Elementary School ES                                 2819 W 21st Pl        Chicago IL    60623    (773) 535-4580 http://schoolreports.cps.edu/SchoolProgressRepo... Pilsen-Little Village Elementary Network WEST SIDE COLLABORATIVE            No                              Track_E        Not on Probation              Level 2                      No                         Average      40           NDA                     NDA                      Average           41                Average           43                NDA           NDA            NDA            NDA            Weak                    43                      Weak                    45                       95.3                       8.5                                    95.2                       92.0                                              77.4            NDA         27.4                     24.8                     62.4                   53.7                   38.1                     28.8                     60.2                  59.8                   12.8                5.3                 10.1                  5.8                       0.5                 0.2                 Yellow                    Yellow                    25                         NDA                         NDA                      NDA                      NDA                    NDA                    NDA                         NDA                           NDA                     NDA                   NDA               NDA                       446                                      39                      NDA                      150000000000000 1157809.015  1889554.623  41.85269133 -87.69627777 30                    SOUTH LAWNDALE      12   10                                     (41.85269133, -87.69627777)
610539    Marvin Camras Elementary School     ES                                 3000 N Mango Ave      Chicago IL    60634    (773) 534-2960 http://schoolreports.cps.edu/SchoolProgressRepo... Fullerton Elementary Network             NORTH-NORTHWEST SIDE COLLABORATIVE No                              Standard       Not on Probation              Not Enough Data              No                         Average      54           Average                 58                       Weak              37                Average           41                Very Strong   83             Very Strong    88             Average                 51                      Strong                  55                       95.1                       4.3                                    0.0                        97.7                                              47.5            39.9        30.8                     27.8                     47.8                   38.6                   41.1                     38.5                     49.2                  55.4                   15.3                30.5                11.2                  12                        -1.8                -0.3                Red                       Yellow                    NDA                        NDA                         NDA                      NDA                      NDA                    NDA                    NDA                         NDA                           NDA                     NDA                   NDA               NDA                       826                                      30                      NDA                      150000000000000 1137482.296  1919394.9    41.93496641 -87.77016525 19                    BELMONT CRAGIN      30   25                                     (41.93496641, -87.77016525)
609852    Eliza Chappell Elementary School    ES                                 2135 W Foster Ave     Chicago IL    60625    (773) 534-2390 http://schoolreports.cps.edu/SchoolProgressRepo... Ravenswood-Ridge Elementary Network      NORTH-NORTHWEST SIDE COLLABORATIVE Yes                             Standard       Not on Probation              Level 1                      No                         Strong       70           Strong                  65                       Average           53                Average           51                Average       56             Average        48             Average                 50                      Average                 52                       95.1                       2.9                                    96.7                       98.9                                              72.6            57          56                       54.4                     55.2                   69                     53.2                     63.9                     60                    59.8                   12.8                41                  19.6                  17.6                      0.4                 1                   Yellow                    Green                     27.5                       63.6                        NDA                      NDA                      NDA                    NDA                    NDA                         NDA                           NDA                     NDA                   NDA               NDA                       451                                      31                      NDA                      150000000000000 1161016.902  1934466.545  41.975867   -87.68325438 4                     LINCOLN SQUARE      47   20                                       (41.975867, -87.68325438)
609835    Daniel R Cameron Elementary School  ES                                 1234 N Monticello Ave Chicago IL    60651    (773) 534-4290 http://schoolreports.cps.edu/SchoolProgressRepo... Garfield-Humboldt Elementary Network     WEST SIDE COLLABORATIVE            No                              Track_E        Probation                     Level 3                      No                         Average      42           NDA                     NDA                      Average           49                Average           50                NDA           NDA            NDA            NDA            Weak                    46                      Weak                    46                       92.6                       153.9                                  96.2                       98.4                                              47.8            21.1        16.4                     16.1                     31.3                   34.7                   19.2                     15.6                     33.5                  35                     9.2                 7.1                 10.3                  5.9                       -1                  -1.4                Red                       Red                       NDA                        NDA                         NDA                      NDA                      NDA                    NDA                    NDA                         NDA                           NDA                     NDA                   NDA               NDA                       828                                      34                      NDA                      150000000000000 1151767.546  1908130.068  41.90378521 -87.71796315 23                    HUMBOLDT PARK       26   25                                     (41.90378521, -87.71796315)

In [8]:
school_df.reset_index(inplace = True)
school_df.columns = school_df.iloc[0]
school_df.drop(school_df.index[0],inplace=True)
school_df.head()

,School ID,Name of School,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Community Area Name,Ward,Police District,Location
1,609966,Charles G Hammond Elementary School,ES,2819 W 21st Pl,Chicago,IL,60623,(773) 535-4580,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,...,150000000000000,1157809.015,1889554.623,41.85269133,-87.69627777,30,SOUTH LAWNDALE,12,10,"(41.85269133, -87.69627777)"
2,610539,Marvin Camras Elementary School,ES,3000 N Mango Ave,Chicago,IL,60634,(773) 534-2960,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1137482.296,1919394.9,41.93496641,-87.77016525,19,BELMONT CRAGIN,30,25,"(41.93496641, -87.77016525)"
3,609852,Eliza Chappell Elementary School,ES,2135 W Foster Ave,Chicago,IL,60625,(773) 534-2390,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,...,150000000000000,1161016.902,1934466.545,41.975867,-87.68325438,4,LINCOLN SQUARE,47,20,"(41.975867, -87.68325438)"
4,609835,Daniel R Cameron Elementary School,ES,1234 N Monticello Ave,Chicago,IL,60651,(773) 534-4290,http://schoolreports.cps.edu/SchoolProgressRep...,Garfield-Humboldt Elementary Network,...,150000000000000,1151767.546,1908130.068,41.90378521,-87.71796315,23,HUMBOLDT PARK,26,25,"(41.90378521, -87.71796315)"
5,610521,Sir Miles Davis Magnet Elementary Academy,ES,6730 S Paulina St,Chicago,IL,60636,(773) 535-9120,http://schoolreports.cps.edu/SchoolProgressRep...,Englewood-Gresham Elementary Network,...,150000000000000,1166133.893,1859929.018,41.77122181,-87.66656657,67,WEST ENGLEWOOD,15,7,"(41.77122181, -87.66656657)"

In [9]:
len(school_df["Name of School"].unique())

566

In [10]:
len(school_df["Name of School"])

566

In [11]:
#school_df.rename(index = {"ZIP Code":"ZIP"}, 
          #inplace = True)

In [12]:
school_df.dtypes[:]

0
School ID                             object
Name of School                        object
Elementary, Middle, or High School    object
Street Address                        object
City                                  object
                                       ...
Community Area Number                 object
Community Area Name                   object
Ward                                  object
Police District                       object
Location                              object
Length: 79, dtype: object

In [13]:
new_school = pd.DataFrame(school_df[['School ID', 'Name of School', 'ZIP Code']])
new_school

0   School ID                                    Name of School ZIP Code
1      609966               Charles G Hammond Elementary School    60623
2      610539                   Marvin Camras Elementary School    60634
3      609852                  Eliza Chappell Elementary School    60625
4      609835                Daniel R Cameron Elementary School    60651
5      610521         Sir Miles Davis Magnet Elementary Academy    60636
..        ...                                               ...      ...
562    610506      TEAM Englewood Community Academy High School    60621
563    610350           Robert A Black Magnet Elementary School    60619
564    610154                Martin A Ryerson Elementary School    60624
565    610384  Infinity Math Science and Technology High School    60623
566    609870                Daniel J Corkery Elementary School    60623

[566 rows x 3 columns]

In [14]:
new_school["ZIP Code"] = new_school["ZIP Code"].astype(str).astype(int)

In [15]:
new_school.dtypes

0
School ID         object
Name of School    object
ZIP Code           int64
dtype: object

In [16]:
new_school["School ID"]=new_school["School ID"].astype("int64")

In [17]:
new_library = library_df[['Name', 'Zip']]
new_library

                        Name    Zip
0             Jefferson Park  60630
1                      Merlo  60657
2                   Douglass  60623
3                Albany Park  60625
4                    Altgeld  60827
..                       ...    ...
76              West Pullman  60643
77                 West Town  60622
78     Whitney M. Young, Jr.  60619
79  Woodson Regional Library  60628
80        Wrightwood-Ashburn  60652

[81 rows x 2 columns]

In [18]:
rds_connection_string = f"postgres:{password}@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [19]:
engine.table_names()

['new_library', 'new_school']

In [20]:
new_school.to_sql(name='new_school', con=engine, if_exists='replace', index=False)

In [21]:
pd.read_sql_query('select * from new_school', con=engine).head(10)

   School ID                                 Name of School  ZIP Code
0     609966            Charles G Hammond Elementary School     60623
1     610539                Marvin Camras Elementary School     60634
2     609852               Eliza Chappell Elementary School     60625
3     609835             Daniel R Cameron Elementary School     60651
4     610521      Sir Miles Davis Magnet Elementary Academy     60636
5     609818               Luther Burbank Elementary School     60639
6     610298       Lenart Elementary Regional Gifted Center     60620
7     610200                James N Thorp Elementary School     60617
8     609680  Walter Payton College Preparatory High School     60610
9     610056              Roswell B Mason Elementary School     60623

In [22]:
new_library.to_sql(name='new_library', con=engine, if_exists='replace', index=False)

In [23]:
pd.read_sql_query('select * from new_library', con=engine).head(10)

                Name    Zip
0     Jefferson Park  60630
1              Merlo  60657
2           Douglass  60623
3        Albany Park  60625
4            Altgeld  60827
5     Archer Heights  60632
6             Austin  60644
7      Austin-Irving  60634
8             Avalon  60617
9  Back of the Yards  60609

In [52]:
lib_zip = (new_library.Zip).nunique()

In [53]:
lib_zip

49

In [39]:
school_zip = (new_school["ZIP Code"].nunique())

In [40]:
school_zip

51